body {
    background-color: #003366;
    color: white;
    margin: 0px;
}

h1:first-of-type {
    color: red;
    text-align: center;
    font-size: 50px;
    font-family: 'Times New Roman';
    position: static;
    top: 0px;
    padding: 0px;
}

#indice{
    text-align:center;
    padding-top:10px;

}

.imagen-container {
    display: flex;
    justify-content: center;
}

img {
    width: 30%; /* La anchura, y height es para ajustar la altura */
    height: auto;
    padding-top: 0px;
}

/* Estilo de los enlaces */
a {
    color: white; /* Color del enlace por defecto */
    text-decoration: none; /* Elimina el subrayado */
    display: inline-block; /* Para que los enlaces se alineen de manera ordenada */
    margin-left: 10px; /* Espacio entre enlaces */
    padding-left: 25px; /* Asegura espacio suficiente para la flecha */
    position: relative; /* Necesario para el pseudo-elemento */
}

/* Flecha antes de cada enlace, solo una vez */
a::before {
    content: '→'; /* La flecha antes del enlace */
    font-size: 20px;
    position: absolute;
    left: 0; /* Coloca la flecha al principio del enlace */
    top: 0; /* Alinea la flecha con el texto */
}

/* Cambio de color cuando el ratón pasa sobre el enlace */
a:hover {
    color: red;
}

h3 {
color:red;
}
.container2{
    margin-top:50px;
    text-align:center;
}
#primer-periodico {
    margin-left:15px;
    padding-bottom: 10px;
    text-align: center;
}
#segundo-periodico {
    margin-left:15px;
    padding-bottom: 10px;
    text-align: center;
}
#tercer-periodico {
    margin-left:15px;
    padding-bottom: 10px;
    text-align: center;
}
#cuarto-periodico {
    margin-left:15px;
    padding-bottom: 10px;
    text-align: center;
}
#quinto-periodico {
    margin-left:15px;
    padding-bottom: 10px;
    text-align: center;
}
#sexto-periodico{
    margin-left:15px;
    padding-bottom:10px;
    text-align:center;
}
#septimo-periodico{
    margin-left:15px;
    padding-bottom:10px;
    text-align:center;
}
#octavo-periodico{
    margin-left:15px;
    padding-bottom:10px;
    text-align:center;
}
#noveno-periodico{
    margin-left:15px;
    padding-bottom:10px;
    text-align:center;
}
#decimo-periodico{
    margin-left:15px;
    padding-bottom:10px;
    text-align:center;
}

#primer-periodico a {
    color:white;
}
#segundo-periodico a {
    color:white;
}
#tercer-periodico a {
    color:white;
}
#cuarto-periodico a {
    color:white;
}
#quinto-periodico a {
    color:white;
}
#sexto-periodico a {
    color:white;
}
#septimo-periodico a {
    color:white;
}
#octavo-periodico a {
    color:white;
}
#noveno-periodico a {
    color:white;
}
#decimo-periodico a {
    color:white;
}
#s{
    color:lightgreen;

}

#primer-periodico img {
    width:20%;
    height:auto;
}
#segundo-periodico img {
    width:20%;
    height:auto;
}
#tercer-periodico img {
    width:20%;
    height:auto;
}
#cuarto-periodico img {
    width:20%;
    height:auto;
}
#quinto-periodico img {  
    width:15%;
    height:auto;
}
#sexto-periodico img {
    width:20%;
    height:auto;
}
#septimo-periodico img {
    width:20%;
    height:auto;
}
#octavo-periodico img {
    width:15%;
    height:auto;
}
#noveno-periodico img {
    width:20%;
    height:auto;
}
#decimo-periodico img {
    width:20%;
    height:auto;
}